.assessment{
    flex: 1;
    padding: 7px 10px 7px 10px;
  border-style: dotted;
  border-color: grey;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: space-around;
text-align: center;
background-color: #F6F8FA;
}
.assessment p{
    font-size: small;
    padding: 1.2rem;
}
.add-icon{
    background-color: white;
    color: #0073E6;
    border-radius: 50%;
    padding: 1.5rem;
    margin: auto
}